<connectionStrings>
  <!--Default connection. May be needed later so we leave it here-->
  <add name="DefaultConnection"
      connectionString="Server=tcp:testdbectv1.database.windows.net,1433;
      Initial Catalog=testDBECTV;
      Persist Security Info=False;
      User ID=ccebreros1;
      Password=Pa$$word1;
      MultipleActiveResultSets=False;
      Encrypt=True;
      TrustServerCertificate=False;"
      providerName="System.Data.SqlClient"/>
  

  <add name="testDB"
       connectionString="Server=tcp:testdbectv1.database.windows.net,1433;
      Initial Catalog=testDBECTV;
      Persist Security Info=False;
      User ID=ccebreros1;
      Password=Pa$$word1;
      MultipleActiveResultSets=False;
      Encrypt=True;
      TrustServerCertificate=False;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
